<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo|Modak|Noticia+Text&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css') }}"
    />
    <title>ShadeTree</title>
  </head>
  <body>
    <header id="header">
      <div class="branding">
        <h1><a href="#">ShadeTree</a></h1>
      </div>
      <div>
        <nav id="nav-bar">
          <ul>
            <li><a href="{{ url_for('front_bp.register') }}">Sign Up</a></li>
            <li><a href="{{ url_for('front_bp.about') }}">About</a></li>
            <li><a href="{{ url_for('front_bp.contact') }}">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {% block main_content %}
    {% endblock %}
    <footer id="footer">
      <div>
        <p>Footer section goes here</p>
      </div>
    </footer>
  </body>
</html>
