/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 

  FONTS
    font-family: 'Modak', cursive
    font-family: 'Arimo', sans-serif;
    font-family: 'Noticia Text', serif;

*/
body {
  font-family: 'Noticia Text', serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #514883;
  
}

#header h1 {
  font-family: 'Modak', cursive;
  font-weight: 100;
  font-size: 3.2rem;
  color: #dddddd;
  padding: 5px 15px;
}

#nav-bar {
  font-family: 'Arimo', sans-serif;
  font-size: 1.5rem;
  width: 500px;
}



#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;;
}

#nav-bar li {
  margin: 10px 15px;
}

#nav-bar a {
  text-decoration: none;
  color: #aaaaaa;
};

#nav-bar li:hover {
  background-color: #999999
}



